@import "base/base";
@import "base/fonts";
@import "pages/home";
@import 'pages/header';
@import "pages/for_home";
@import "pages/cups.scss";
@import "pages/product";
@import "pages/about";
@import "pages/workshops";
@import "pages/blogs";
@import "pages/contact";
@import "pages/account";
@import "pages/cart";
@import "pages/footer";
@import "pages/media";
@import "pages/my_account";
@import "pages/registration";
@import "pages/forgot_password";
@import "pages/privacy";
@import "pages/_blog_page";
