/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    border: none;
    text-decoration: none;

}

*:focus {
    outline: none;
}

ul,
h1,
h2,
h3,
h4 {
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


body {
    background: red;
}


$main-color:#3e9578;
$yellow:#f5c745;





 

    .slick-list, .draggable{
        padding:unset !important;;
    }

    .slick-slide{
        position:relative;


        
       
    }


    @media only screen and (max-width: 1200px) {
        .services-slider .nav-contaienr {
            display: none !important;
        }
    }

    .slick-slide img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding: 5px;
            cursor: pointer;
        }
       

        .services-slider {
            display: flex;
            max-width: 50%;
            margin-top: 50px;
        }

        .nav-container .slick-current img {
        box-shadow: 0 0 4px 2px rgba(108, 232, 220, 0.9);
        }

        slider-main {
        width: 100%;
        }

        .main-container {
        width: 100%;
        position: relative;
        }

        .main-container .zoom{
            position: absolute;
            width: 40px;
            height: 40px;
            z-index: 999;
            top: 19px;
            right: 20px;
            cursor:pointer;
        }

        .nav-container img {
        max-height: 135px;
        }

        .nav-container .slick-slide {
        max-height: 135px;
        margin-bottom: 18px;
        }

       

