/*@font-face {
  font-family: 'Conv_FiraGO-LightItalic';
  src: url('../fonts/FiraGO-LightItalic.eot');
  src: local('☺'), url('../fonts/FiraGO-LightItalic.woff') format('woff'), url('../fonts/FiraGO-LightItalic.ttf') format('truetype'), url('../fonts/FiraGO-LightItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
    font-family: 'Conv_FiraGO-Regular';
    src: url('../fonts/FiraGO-Regular.eot');
    src: local('☺'), url('../fonts/FiraGO-Regular.woff') format('woff'), url('../fonts/FiraGO-Regular.ttf') format('truetype'), url('../fonts/FiraGO-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


.about_container {



    font-family: 'Conv_FiraGO-Regular';
    min-height: calc(100vh - 280px);
    margin: 50px auto;

    .about_img {
        max-height: 450px;

        img {
            width: 100%;
            height: 100%;
        }
    }



    .about_content {


        color: #3e9578;


        h2 {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            margin: 40px 0 5px;
            text-transform: uppercase;
        }

        p {
            margin-top: 15px;
            color: $main-color;
        }

        span {
            margin-left: calc(50% - 36px);
        }


    }


    .team_content {
        h2 {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            margin: 60px 0 20px;
            text-transform: uppercase;
        }



    }


    .team_members {
        color: #3e9578;
        opacity: .7;
        transition: .5s;
        cursor: pointer;

        .member_img {
            margin: 0 auto;
            max-width: 200px;
            border-radius: 50%;

            img {
                width: 200px;
                border-radius: 50%;
                height: 200px;
                object-fit: cover;


            }

        }

        .member_name {
            text-align: center;
            margin: 5px;
        }

        .member_info {
            text-align: center;

            svg {
                cursor: pointer;
                width: 25px;
                margin: 0 auto;
                height: 25px;
                fill: $main-color;
                border-radius: 50%;
                padding: background;
                padding: 5px;
                border: 1px solid $main-color;
                transition: .5s;


                &:hover {
                    fill: white;
                    background: $main-color;
                }
            }
        }

        .text_content {
            display: none;
            text-align: center;

            p {
                max-width: 250px;
                margin: 20px auto;
                color: $main-color;
                text-align: center;

            }
        }



    }

    .team_members:hover {
        opacity: 1;


        svg {
            fill: white;
            background: $main-color;
        }
    }



    .slider {



        .owl-nav {
            .owl-next {
                span {
                    font-size: 60px;
                    position: absolute;
                    top: 40px;
                    right: -9px;
                    padding: 15px;
                    color: $main-color;
                    transition: .4s;

                    &:hover {
                        color: $yellow;
                        transform: scale(1.3);
                    }


                }
            }

            .owl-prev {
                span {
                    font-size: 60px;
                    position: absolute;
                    top: 40px;
                    left: -9px;
                    padding: 15px;
                    color: $main-color;
                    transition: .4s;

                    &:hover {
                        color: $yellow;
                        transform: scale(1.3);
                    }


                }
            }
        }
    }



}


.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}