/*@font-face {
  font-family: 'Conv_FiraGO-LightItalic';
  src: url('../fonts/FiraGO-LightItalic.eot');
  src: local('☺'), url('../fonts/FiraGO-LightItalic.woff') format('woff'), url('../fonts/FiraGO-LightItalic.ttf') format('truetype'), url('../fonts/FiraGO-LightItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
    font-family: 'Conv_FiraGO-Regular';
    src: url('fonts/FiraGO-Regular.eot');
    src: local('☺'), url('fonts/FiraGO-Regular.woff') format('woff'), url('fonts/FiraGO-Regular.ttf') format('truetype'), url('fonts/FiraGO-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


.about_container {

    font-family: 'Conv_FiraGO-Regular';
    min-height: calc(100vh - 280px);
    margin:50px auto;

    .about_img {
        max-height: 450px;

        img {
            width: 100%;
            height: 100%;
        }
    }



    .about_content {

        text-align: center;
        color: #3e9578;


        h2 {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            margin: 40px 0 5px;
            text-transform: uppercase;
        }

        p {
            margin-top: 15px;
            color: $main-color;
           

        }


    }


    .team_content {
        h2 {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            margin: 60px 0 20px;
            text-transform: uppercase;
        }
    }


    .team_members {
        color: #3e9578;
         opacity: .7;
         transition:.5s;

        .member_img {
            margin: 0 auto;
            max-width: 200px;
            border-radius: 50%;

            img {
                width: 200px;
                border-radius: 50%;
                height: 200px;
                object-fit:cover;
               
                
            }

        }

        .member_name {
            text-align: center;
            margin: 5px;
        }

        .member_info {
            text-align: center;

            img{
                cursor: pointer;
                width: 30px;
                margin: 0 auto;
            }
        }

        .text_content {
            display: none;

            p {
                max-width: 250px;
                margin: 20px auto;
                color: $main-color;

            }
        }



    }

    .team_members:hover{
        opacity:1;
    }


}