/*@font-face {
  font-family: 'Conv_FiraGO-LightItalic';
  src: url('../fonts/FiraGO-LightItalic.eot');
  src: local('☺'), url('../fonts/FiraGO-LightItalic.woff') format('woff'), url('../fonts/FiraGO-LightItalic.ttf') format('truetype'), url('../fonts/FiraGO-LightItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
    font-family: 'Conv_FiraGO-Regular';
    src: url('../fonts/FiraGO-Regular.eot');
    src: local('☺'), url('../fonts/FiraGO-Regular.woff') format('woff'), url('../fonts/FiraGO-Regular.ttf') format('truetype'), url('../fonts/FiraGO-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


.about_container {



    font-family: 'Conv_FiraGO-Regular';
    min-height: calc(100vh - 280px);
    margin: 100px auto;

    .about_img {


        img {
            width: 100%;
            object-fit: contain;
            margin-bottom: 40px;
            border-radius: 5px;
        }
    }

    .row {
        .about_img:nth-child(2) {
            order: -1;
        }
    }



    .about_content {

        margin-bottom: 40px;
        color: #3e9578;

        div:nth-child(2) h2 {
            margin-top: 10px;
            font-size: 16px;
            text-transform: capitalize;
        }


        h2 {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            text-transform: uppercase;
        }

        p {
            padding-bottom: 15px;
            color: $main-color;
        }

        span {
            margin-left: calc(50% - 36px);
        }


    }


    .team_content {
        h2 {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            margin: 60px 0 20px;
            text-transform: uppercase;
        }



    }


    .team_members {
        color: #3e9578;
        opacity: .7;
        transition: .4s;
        cursor: pointer;

        .member_img {
            margin: 0 auto;
            max-width: 200px;
            border-radius: 50%;

            img {
                width: 200px;
                border-radius: 50%;
                height: 200px;
                object-fit: cover;
            }

        }

        .member_name {
            text-align: center;
            margin: 5px;
        }

        .member_info {
            text-align: center;
            transition: .5s;

            svg {
                cursor: pointer;
                width: 25px;
                margin: 0 auto;
                height: 25px;
                fill: $main-color;
                border-radius: 50%;
                padding: 5px;
                transition: .5s;
                background: white;
                border: 1px solid $main-color;
                border-radius: 50px;


                // &:hover {
                //     fill: white;
                //     background: $main-color;
                // }
            }

            &:hover {
                background-image: url(../images/arrowdown.svg);
                background-repeat: no-repeat;
                background-position: center;
                width: 25px;
                height: 25px;
                margin: 0 auto;

                svg {
                    opacity: 0;
                }
            }
        }

        .text_content {
            display: none;
            text-align: center;

            p {
                max-width: 250px;
                margin: 20px auto;
                color: $main-color;
                text-align: center;

            }
        }



    }

    .team_members:hover {
        opacity: 1;


        .member_info {
            background-image: url(../images/arrowdown.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 25px;
            height: 25px;
            margin: 0 auto;

            svg {
                opacity: 0;
            }
        }



        svg {
            opacity: 0;
        }
    }



    .slider {



        .owl-nav {
            .owl-next {
                span {
                    font-size: 60px;
                    position: absolute;
                    top: 40px;
                    right: -9px;
                    padding: 15px;
                    color: $main-color;
                    transition: .4s;

                    &:hover {
                        color: $yellow;
                        transform: scale(1.3);
                    }


                }
            }

            .owl-prev {
                span {
                    font-size: 60px;
                    position: absolute;
                    top: 40px;
                    left: -9px;
                    padding: 15px;
                    color: $main-color;
                    transition: .4s;

                    &:hover {
                        color: $yellow;
                        transform: scale(1.3);
                    }


                }
            }
        }
    }

    .review_container {
        .title {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            margin: 60px 0 20px;
            text-transform: uppercase;
            background: white;
        }

        .review_slider {
            .owl-nav {
                .owl-next {
                    span {
                        right: -10px;
                        top: 60px;
                    }
                }

                .owl-prev {
                    span {
                        top: 60px;
                        left: -10px;
                    }
                }
            }
        }

        .review_section {
            margin: 0 auto;
            max-width: 1000px;
            min-height: 250px;
            padding: 15px;
            border: 1px solid $main-color;
            border-radius: 5px;

            .review_box {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $main-color;
                padding-bottom: 8px;

                .costumer_info {
                    font-size: 16px;
                    color: $main-color;
                    text-transform: capitalize;

                    div:nth-child(2) {
                        font-size: 14px;
                    }


                }

                .costumer_review {
                    font-size: 16px;
                    color: darkgrey;
                    text-transform: capitalize;
                    display: flex;

                    .fb_logo {
                        width: 25px;
                        height: 25px;
                        margin-top: 5px;

                        .fab {
                            font-family: 'Font Awesome 5 Brands';
                            font-size: 30px;
                            color: $main-color;

                        }


                        .fa-facebook-square {
                            color: #475993;
                        }

                        .fa-facebook {
                            color: #475993;
                        }

                    }

                    .review_stars {
                        margin-left: 25px;
                        text-align: center;
                        min-width: 76px;

                        .rating {
                            a {
                                font-size: 22px;
                                color: darkgrey;
                            }
                        }

                        .review_date {
                            span {
                                color: $main-color;
                                font-size: 14px;
                            }
                        }
                    }
                }

            }

            .review_text {
                margin-top: 15px;

                p {
                    color: $main-color;
                    font-size: 16px;
                }
            }
        }
    }



}

a {
    color: #000;
}

.rating.star5 span:nth-child(1) {
    color: $yellow;
}

.rating.star5 span:nth-child(2) {
    color: $yellow;
}

.rating.star5 span:nth-child(3) {
    color: $yellow;
}

.rating.star5 span:nth-child(4) {
    color: $yellow;
}

.rating.star5 span:nth-child(5) {
    color: $yellow;
}

.rating.star4 span:nth-child(1) {
    color: $yellow;
}

.rating.star4 span:nth-child(2) {
    color: $yellow;
}

.rating.star4 span:nth-child(3) {
    color: $yellow;
}

.rating.star4 span:nth-child(4) {
    color: $yellow;
}

.rating.star3 span:nth-child(1) {
    color: $yellow;
}

.rating.star3 span:nth-child(2) {
    color: $yellow;
}

.rating.star3 span:nth-child(3) {
    color: $yellow;
}


.rating.star2 span:nth-child(1) {
    color: $yellow;
}

.rating.star2 span:nth-child(2) {
    color: $yellow;
}

.rating.star1 span:nth-child(1) {
    color: $yellow;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}


.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block !important;
    opacity: .3;
}

button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
    opacity: .3 !important;

}