.account_container {
    padding-bottom: 40px;
    min-height: calc(100vh - 180px);
    font-family: 'Conv_FiraGO-Regular';



    .user_account {
        margin-top: 50px;
        display: flex;
        align-items: center;

        .account_details_img {

            width: 170px;
            height: 170px;
            overflow: hidden;
            border-radius: 50%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }


            .account_img_change_box {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                background-color: $main-color;
                width: 100%;
                height: 40px;
                cursor: pointer;


                input {
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }


                span {
                    font-size: 15px;

                    color: #fff;
                    text-transform: capitalize;
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
            }

        }





        .account_info {
            margin-left: 60px;
            color: #3e9578;

            h2 {
                font-size: 25px;
                text-transform: capitalize;
                padding: 10px 0 20px;
            }

            .user_profile {

                padding: 5px;
                text-align: center;
                transition: .5s;
                background: $main-color;
                border-radius: 5px;

                a {
                    color: white;
                    padding: 10px 30px;
                }
            }

            .user_profile:hover {
                background: $yellow;

                a {
                    color: $main-color;
                }
            }
        }
    }



    .user_product {

        .my_info {

            margin-top: 30px;
            padding: 15px;


            .adress_section {
                margin: 16px;




                button {

                    padding: 6px;
                    background-color: #3e9578;
                    color: white;
                    outline: none;
                    margin: 25px 0;
                    transition: .5s;
                    text-transform: capitalize;
                    min-width: 100px;
                    border-radius: 5px;

                    &:hover {
                        color: $main-color;
                        background: $yellow;
                    }
                }

                span {
                    color: $main-color;
                    text-transform: uppercase;
                    font-size: 18px;
                }

                .my_adress {


                    .main_adress {
                        display: flex;
                        color: $main-color;
                        margin: 20px 0;
                        justify-content: space-between;
                        max-width: 620px;


                        button {
                            margin: 0 0 0 30px;
                            border-radius: 5px;
                            float: right;


                        }
                    }

                    .main_adress:first-child {
                        width: 400px;
                    }

                    .cart_button {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;

                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        margin-left: 20px;
                        display: flex;

                        p {
                            color: $main-color;
                            margin-top: 6px;
                        }
                    }



                    /* Hide the browser's default radio button */
                    .cart_button input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                    /* Create a custom radio button */
                    .checkmark {
                        position: absolute;
                        top: 7px;
                        left: 0;
                        height: 22px;
                        width: 22px;
                        background-color: #eee;
                        border-radius: 50%;
                    }

                    /* On mouse-over, add a grey background color */
                    .cart_button:hover input~.checkmark {
                        background-color: #ccc;
                    }

                    /* When the radio button is checked, add a blue background */
                    .cart_button input:checked~.checkmark {

                        background-color: #3e9578;
                        border: 1px solid #3e9578;
                        padding: 2px;
                        padding: 1px;
                        background-clip: content-box;

                    }

                    /* Create the indicator (the dot/circle - hidden when not checked) */
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }

                    /* Show the indicator (dot/circle) when checked */
                    .cart_button input:checked~.checkmark:after {
                        display: block;
                    }

                }



            }

            .registration_name {
                display: flex;

                .name_box {
                    margin-right: 15px;
                    display: flex;
                    flex-direction: column;

                    .new_adress_input {
                        width: 615px;
                    }
                }


                span {
                    margin-left: 10px;
                    color: #3e9578;
                    text-transform: uppercase;
                }

                input {
                    width: 300px;
                    border: 1px solid #3e9578;
                    margin: 2px 0 15px;
                    padding: 8px;
                    color: $main-color;
                    border-radius: 5px;

                }


                select {
                    width: 300px;
                    color: $main-color;
                    border: 1px solid $main-color;
                    border-radius: 5px;
                }

                button {
                    width: 70px;
                    padding: 6px;
                    background-color: #3e9578;
                    color: white;
                    outline: none;
                    margin: 25px 5px 0;
                    transition: .5s;
                    border-radius: 5px;

                    &:hover {
                        color: $main-color;
                        background: $yellow;
                    }
                }
            }

        }

        .nav-tabs {
            border-bottom: 1px solid $main-color;
            flex-wrap: nowrap !important;
        }


        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
            color: #495057;
            background-color: #fff;
            border-color: $main-color $main-color #fff;
        }



        padding: 25px 0;
        margin: 30px 0;

        a {
            text-transform: uppercase;
            color: $main-color;
            opacity: .5;
        }

        a {
            &.active {
                opacity: 1;
                display: block;
                color: $main-color !important;

            }
        }


        h3 {
            color: #3e9578;
            text-transform: uppercase;
            font-size: 20px;
            margin-right: 120px;

        }
    }

    .img_box {
        width: 100%;
        height: 240px;
        position: relative;

        a {
            color: white;
            opacity: unset;
        }
    }

    .cup_box {
        margin: 20px auto;



        .img_box {

            .cup_hover {

                position: absolute;
                top: 0;
                color: white;
                text-transform: uppercase;
                background-color: rgba(204, 204, 204, 0.5);
                width: 100%;
                height: 100%;
                opacity: 0;

                .see_more {
                    padding: 8px 2px;
                    background-color: #FFBC00;
                    width: fit-content;
                    margin: calc(50% - 22px) auto;
                    border-radius: 4px;

                    a {
                        color: white;
                        padding: 10px;
                    }
                }

            }


            a {

                width: 100%;
                height: 100%;
            }


            img {
                width: 100%;
                height: 100%;

                object-fit: cover
            }


        }

        .img_box:hover {
            .cup_hover {
                opacity: 1;
                transition: 1s;

            }
        }


        .cup_info {
            display: flex;
            align-items: center;
            justify-content: space-between;


            span {
                display: block;
                color: #3e9578;
                padding-right: 10px
            }

            button {
                color: white;
                background-color: #FFBC00;
                padding: 5px;
                outline: none;
                cursor: pointer;
                border-radius: 4px;
            }

            button:hover {
                background-color: rgb(255, 218, 116);
                transition: 1s;
            }
        }
    }
}




.my_info {

    margin-top: 30px;
    padding: 15px;


    .adress_section {
        margin: 16px 0;

        .shipping_adress_info {
            margin: 15px 0;
        }




        button {

            padding: 6px;
            background-color: #3e9578;
            color: white;
            outline: none;
            margin: 25px 0;
            transition: .5s;
            text-transform: capitalize;
            min-width: 100px;
            border-radius: 5px;

            &:hover {
                color: $main-color;
                background: $yellow;
            }
        }

        span {
            color: $main-color;
            text-transform: uppercase;
            font-size: 18px;
        }

        .my_adress {

            .checkmark {
                background-color: #bab9b5;
            }


            .main_adress {
                display: flex;
                color: $main-color;
                margin: 10px 0;

                button {
                    margin: 0 0 0 30px;

                }
            }

            .cart_button {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                margin-left: 20px;
                display: flex;

                p {
                    color: $main-color;
                    margin-top: 7px;

                }
            }



            /* Hide the browser's default radio button */
            .cart_button input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom radio button */
            .checkmark {
                position: absolute;
                top: 7px;
                left: 0;
                height: 22px;
                width: 22px;
                background-color: #eee;
                border-radius: 50%;
            }

            /* On mouse-over, add a grey background color */
            .cart_button:hover input~.checkmark {
                background-color: #ccc;
            }

            /* When the radio button is checked, add a blue background */
            .cart_button input:checked~.checkmark {

                background-color: #3e9578;
                border: 1px solid #3e9578;
                padding: 2px;
                padding: 1px;
                background-clip: content-box;

            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            .cart_button input:checked~.checkmark:after {
                display: block;
            }

        }



    }

    .registration_name {
        display: flex;

        .name_box {
            margin-right: 15px;
            display: flex;
            flex-direction: column;

            .new_adress_input {
                width: 615px;
            }
        }


        span {
            margin-left: 10px;
            color: #3e9578;
            text-transform: uppercase;
        }

        input {
            width: 300px;
            border: 1px solid #3e9578;
            margin: 2px 0 15px;
            padding: 8px;
            color: $main-color;

        }


        select {
            width: 300px;
            color: $main-color;
            border: 1px solid $main-color;
        }

        button {
            width: 70px;
            padding: 6px;
            background-color: #3e9578;
            color: white;
            outline: none;
            margin: 25px 5px 0;
            transition: .5s;

            &:hover {
                color: $main-color;
                background: $yellow;
            }
        }
    }

}


#new_adress {
    display: none;
}

.responsiv-uploader-fileupload.style-image-single .upload-button {
    border: 1px solid $main-color !important;
    margin-left: 12px !important;
}

.responsiv-uploader-fileupload.style-image-single .upload-button .upload-button-icon:before {
    color: $main-color !important;
}

.responsiv-uploader-fileupload .upload-object h4 {
    color: $main-color !important;
}

.responsiv-uploader-fileupload .upload-object .info h4 a,
.responsiv-uploader-fileupload .upload-object .meta a.upload-remove-button {
    color: $main-color !important;
}

.responsiv-uploader-fileupload .upload-object p.size,
.responsiv-uploader-fileupload .upload-object p.error {
    color: $main-color !important;

}