.account_container {
    padding-bottom: 40px;
    min-height: calc(100vh - 230px);
    font-family: 'Conv_FiraGO-Regular';



    .user_account {
        margin-top: 50px;
        display: flex;

       .account_details_img {
        margin-bottom: 40px;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;

        img{
        width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }


        .account_img_change_box {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: $main-color;
            width: 100%;
            height: 40px;
            cursor: pointer;


            input{
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }


            span {
                font-size: 15px;
              
                color: #fff;
                text-transform: capitalize;
                top: 50%;
                left: 50%;
                position: absolute;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }

    }

        



        .account_info {
            margin-left: 60px;
            color: #3e9578;

            h2 {
                font-size: 25px;
                text-transform: uppercase;
                padding: 50px 0 20px;
            }

            .user_profile {
                border: 1px solid #3e9578;
                padding: 5px;
                text-align: center;
                transition:.5s;

                a {
                    color: #3e9578;
                    padding: 10px 30px;
                }
            }

            .user_profile:hover{
                background: $yellow;
                border:unset;
            }
        }
    }

    .user_product {

        .nav-tabs {
            border-bottom: 1px solid $main-color;
        }


        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
            color: #495057;
            background-color: #fff;
            border-color: $main-color $main-color #fff;
        }


        
        padding: 25px 0;
        margin: 30px 0;

        a{
            text-transform:uppercase;
            color:$main-color;
            opacity:.5;
        }

        a {
            &.active {
                  opacity: 1;
                  display: block;
                  color: $main-color !important;

            }
        }


        h3 {
            color: #3e9578;
            text-transform: uppercase;
            font-size: 20px;
            margin-right: 120px;

        }
    }

    .img_box {
        width: 100%;
        height: 240px;
        position: relative;

        a{
            color: white;
            opacity: unset;
        }
    }

    .cup_box {
        margin: 20px auto;



        .img_box {

            .cup_hover {

                position: absolute;
                top: 0;
                color: white;
                text-transform: uppercase;
                background-color: rgba(204, 204, 204, 0.5);
                width: 100%;
                height: 100%;
                opacity: 0;

                .see_more {
                    padding: 8px 2px;
                    background-color: #FFBC00;
                    width: fit-content;
                    margin: calc(50% - 22px) auto;
                    border-radius:4px;

                    a {
                        color: white;
                        padding:10px;
                    }
                }

            }


            a {

                width: 100%;
                height: 100%;
            }


            img {
                width: 100%;
                height: 100%;

                object-fit: cover
            }


        }

        .img_box:hover {
            .cup_hover {
                opacity: 1;
                transition: 1s;

            }
        }


        .cup_info {
            display: flex;
            align-items: center;
            justify-content: space-between;


            span {
                display: block;
                color: #3e9578;
                padding-right: 10px
            }

            button {
                color: white;
                background-color: #FFBC00;
                padding: 5px;
                outline: none;
                cursor: pointer;
                border-radius:4px;
            }

            button:hover {
                background-color: rgb(255, 218, 116);
                transition: 1s;
            }
        }
    }
}