.cart_fluid {

    margin: 50px;
    min-height: calc(100vh - 280px);
    font-family: 'Conv_FiraGO-Regular';

    h2 {
        font-size: 23px;
        text-transform: uppercase;
        color: #3e9578;
        margin: 30px 0 70px;
    }


    .cart_product_info {

        color: $main-color;
        font-size: 18px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;

        .cart_product_section {

            width: 100%;
            display: flex;
            justify-content: space-around;

            .cart_product_name {
                max-width: 200px;
                width: 100%;
                text-align: center;


                .cart_product_name {
                    max-width: 200px;
                    width: 200px;
                    text-align: center;
                }


                .cart_producy_price {
                    min-width: 100px;
                    text-align: center;
                }

                .cart_quantity {
                    width: 100px;
                    text-align: center;
                }

                .remove_button {
                    width: 70px;
                }
            }

            span {
                padding: 0 15px;
            }

            .remove_button {
                width: 90px;
            }
        }

        .cart_product_img {
            width: 90px;

        }


    }


    .cart_product {
        display: flex;
        margin: 10px 0;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .cart_product_img {
            max-width: 70px;
            height: 100%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .product_info {
            margin-left: 10px;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;

            }

            .product_price {
                min-width: 90px;
                text-align: center;
            }


            /* .product_price{
                max-width: 120px;
                width: 100%
            }*/

            .product_info_title {

                max-width: 200px;
                width: 100%;
                word-break: break-word;


                h3 {
                    color: #3e9578;
                    text-transform: uppercase;
                    font-size: 18px;
                    text-align: center;
                }
            }

            span {

                color: #3e9578;

            }

            .product_quantity {
                padding: 0 25px;
                width: 110px;
                text-align: center;

                input {
                    border: 1px solid #3e9578;
                    padding: 5px;
                    width: 50px;
                    color: #3e9578;
                    outline: none;
                    height: 30px;
                    text-align: center;
                }

            }



            button {
                padding: 2px 10px;
                color: #3e9578;
                background-color: white;
                border: 1px solid #3e9578;
                letter-spacing: 2px;
                outline: none;
                cursor: pointer;
                transition: .5s;
            }

            button:hover {
                background: $yellow;
                border: 1px solid transparent;
            }

        }
    }




    .pay_container {

        margin: 35px 0;
        padding: 30px;
        border: 1px solid #3e9578;

        width: 50%;
        margin: 100px auto;

        .pay_title {

            span {
                color: #3e9578;
                font-size: 18px;
                letter-spacing: 2px;
            }
        }

        .payment {
            display: flex;
            align-items: center;
            margin: 15px 0;




            .cart_button {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* Hide the browser's default radio button */
            .cart_button input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom radio button */
            .checkmark {
                position: absolute;
                top: 7px;
                left: 0;
                height: 22px;
                width: 22px;
                background-color: #eee;
                border-radius: 50%;
            }

            /* On mouse-over, add a grey background color */
            .cart_button:hover input~.checkmark {
                background-color: #ccc;
            }

            /* When the radio button is checked, add a blue background */
            .cart_button input:checked~.checkmark {

                background-color: #3e9578;
                border: 1px solid #3e9578;
                padding: 2px;
                padding: 1px;
                background-clip: content-box;

            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            .cart_button input:checked~.checkmark:after {
                display: block;
            }

            /* Style the indicator (dot/circle) */


            input {
                width: 20px;
                height: 20px;
                margin-right: 30px;


            }

            img {
                width: 50px;
                margin-right: 15px
            }
        }


        .item_info {


            .total_item {
                color: #3e9578;
                letter-spacing: 2px;
                display: flex;
                justify-content: space-between;


                span {
                    padding: 5px 0;
                }
            }

            .total_price {
                color: #3e9578;
                letter-spacing: 2px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                border-top: 1px solid #3e9578;
                margin-top: 20px;
                padding-top: 15px;

            }
        }

        .checkout_button {
            text-align: center;
            margin-top: 40px;

            button {

                background-color: white;
                color: #3e9578;
                border: 1px solid #3e9578;
                letter-spacing: 1px;
                padding: 12px 10px 15px;
                font-weight: bold;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
                transition: .5s;
            }

            button:hover {
                background: $yellow;
                border: 1px solid transparent;
            }
        }

    }

}