.contact_container {
    margin: 40px auto;
    min-height: calc(100vh - 260px);
    font-family: 'Conv_FiraGO-Regular';


    .row {
        width: 80%;
    }

    .contact_map {
        width: 100%;
        border: 2px solid #3e9578;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .adress {
        text-align: center;
        margin-top: 15px;
        color: #3e9578;
        letter-spacing: 1px;

        .adress_link {
            margin-top: 15px;


            a {
                color: #ffbc00;
                padding: 5px;

            }
        }
    }


    .find_us {
        text-align: center;

        span {
            color: #3e9578;
        }

        h2 {
            padding-bottom: 20px;
            font-size: 23px;
            color: #ffbc00;
            text-transform: uppercase;


        }

        .contact_number {
            padding: 5px;
        }

    }

    .social_links {
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        margin: 20px auto;
        justify-content: center;

        img {
            width: 35px;
            height: 35px;
            margin: 15px;
            border-radius: 5px;
            object-fit: contain;
            transition: .2s;
        }

        img:hover {
            transform: scale(1.5);
            background: $yellow;
            padding: 4px;
        }

        .share_link {
            color: #3e9578;
            text-align: center;
            margin-top: 40px;
            transition: .2s;


            svg {
                cursor: pointer;
                width: 25px;
                margin: 15px auto;
                height: 25px;
                fill: $main-color;
                border-radius: 50%;
                padding: 5px;
                transition: .5s;
                background: white;
                border: 1px solid $main-color;
                border-radius: 50px;
                transform: rotate(-90deg);


                &:hover {
                    fill: white;
                    background: $main-color;
                }
            }
        }
    }



}