.cups_container {
    font-family: 'Conv_FiraGO-Regular';
    min-height: calc(100vh - 200px);
    margin-top: 50px;


    .cups_title {
        color: #FFBC00;
        font-size: 16px;
        text-transform: uppercase;
        margin: 20px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;


        .sort {
            select {
                background: transparent;
                color: $main-color;
                border: 1px solid $main-color;
                border-radius: 5px;
                min-width: 150px;
                height: 37px;
                margin: 10px;
                background-image: url('../images/dropdown.png');
                background-size: 14px;
                background-position-x: 145px;
                background-repeat: no-repeat;
                background-position-y: center;
                cursor: pointer;


                option {
                    margin-top: 5px;

                    &:hover {
                        background: $yellow;
                    }
                }
            }
        }

        h3 {
            font-size: 16px;
            margin-left: 10px;
        }

        span {
            font-size: 16px;
        }

    }


    .img_box {
        width: 100%;
        height: 240px;
        position: relative;

        a {
            color: white;
        }
    }

    .cup_box {
        margin: 20px auto;

        .img_box {

            .cup_hover {

                position: absolute;
                top: 0;
                color: white;
                text-transform: uppercase;
                background-color: rgba(204, 204, 204, 0.5);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: .3s;

                .see_more {
                    background-color: #FFBC00;
                    width: fit-content;
                    margin: 40% auto;
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 5px 7px;
                    text-transform: capitalize;

                    a {
                        color: white;

                    }
                }

            }


            a {

                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }


            img {
                width: 100%;
                max-height: 76%;
                object-fit: contain;
            }


        }

        .img_box:hover {
            .cup_hover {
                opacity: 1;
                transition: .5s;

            }
        }


        .cup_info {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .cup_price {
                display: flex;

                .price {
                    text-decoration: line-through;
                    padding-left: 4px;
                    opacity: .6;
                }



            }


            span {
                display: block;
                color: #3e9578;
                padding-right: 3px;
                display: flex;
                word-break: break-word;
            }

            .hide {
                display: none;
            }

            button {
                color: white;
                background-color: #FFBC00;
                padding: 5px;
                outline: none;
                cursor: pointer;
                border-radius: 5px;
                min-width: 85px;
                transition: .4s;
            }

            button:hover {
                background-color: rgb(255, 218, 116);

            }

            .out_of_stock {
                min-width: 87px;
                text-align: center;
                text-transform: capitalize;

                span {
                    color: #CB2027;
                    padding-right: unset;
                    width: 88px;
                }
            }
        }
    }

    .pagination {
        justify-content: center;
        display: flex;
        margin: 20px 0;

        a {
            color: white;

            &:hover {
                background: #FFBC00;
                color: white;
            }



        }

        .active {
            background: #FFBC00 !important;
        }



        .pagination li {
            color: white;
            font-size: 18px;
            background: $main-color;
            transition: .3s;
            margin: 3px;
            border-radius: 3px;
            height: 27px;

            span {
                padding: 9px;
            }

            &:hover {
                background: #FFBC00;
                color: white;
            }

            .active {
                background: #FFBC00 !important;
            }

        }


    }
}