footer {
  
  font-family: 'Conv_FiraGO-LightItalic';
  background-color: #3e9578;

  ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    span {
      color: white;
      padding:10px;
    }

    span:hover{
      color: #f5c745;
      transition: 1s;

    }

    li {
      margin: 15px;
      padding-right: 30px;
      font-weight: bold;
      letter-spacing:1px;
    }

    li:not(:last-child) {
      border-right: 1px solid white;
    }


    a {
      color: white;
      padding: 5px;
    }

    a:hover {
      color: #f5c745;
      transition: 1s;
    }
  }


}