footer {

  font-family: 'Conv_FiraGO-Regular';
  background-color: #3e9578;


  ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    padding: 4px;

    span {
      color: white;
      padding: 10px;
    }

    /* span:hover{
      color: #f5c745;
      transition: 1s;

    }*/

    li {
      margin: 15px 0;
      letter-spacing: 1px;
      font-size: 11px;
      width: 100%;
      text-align: center;
    }

    li:not(:last-child) {
      border-right: 1px solid white;
    }


    a {
      color: white;
      padding: 5px;
    }

    a:hover {
      color: #f5c745;
      transition: .5s;
    }
  }


}