.new_password {
    max-width: 600px;
    margin: 0 auto;
    height: calc(100vh - 281px);
    padding: 0px 15px;
    color: $main-color;
   font-family: 'Conv_FiraGO-Regular';
    p {
        color: #3e9578;
        margin: 100px 0 50px;
    }

    input[type=text] {
        width: 100%;
        border: 1px solid #3e9578;
        margin: 2px 0 15px;
        padding: 8px;
        border-radius: 5px;
    }

    span {
        margin-left: 10px;
        color: #3e9578
    }

    .reset_button {
        width: 100%;
        text-align: center;

        button {

            width: 60%;
            padding: 6px;
            background-color: #3e9578;
            color: white;
            outline: none;
            margin-top: 30px;
            border-radius: 5px;
            transition: .4s;

            &:hover{
                background: $yellow;
                color: $main-color;

            }

        }
    }
}