.category_for_home {

    font-family: 'Conv_FiraGO-Regular';
    margin-top: 30px;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 180px);


    /* .row {
    margin: 0 auto;
     max-width: 62.5rem; 
    width: 96%;
}
*/
    .for_home {
        position: relative;
        height: 80%;
        margin-top: 5px;
        max-width: 320px;
        margin: 0 auto;
        max-height:320px;

        .for_home_img {
            width: 100%;
            height: 100%;

            img {

                width: 100%;
                height: 100%;
                object-fit: cover;

            }

        }

        .home_background_img {
            position: absolute;
            top: -1px;
            /* background: red; */
            left: -1px;
            width: 102%;
            height: 102%;
            z-index: 10;

            a {
                display: unset;

                img {
                    width: 100%;
                    height: 100%;

                }
            }


        }

    }


    .for_home_content {
        margin-top: 60px;


        span a {
            color: #ffbc00
        }


        ul {
            margin-top: 30px;

        }

        ul {

            max-height: 300px;
            overflow-y: scroll;

            li {

                &:not(:last-child) {
                    margin-bottom: 10px;
                }


                a {
                    color: #3e9578;
                    line-height: 30px;
                    text-transform: capitalize;
                    font-size: 24px;
                    display: inline-block;

                    &.hide {

                        opacity: .5;
                    }


                }

                &:first-child a {
                    color: $yellow;
                    margin-bottom: 20px;
                }

            }

        }


    }

}



.back_icon {
    text-align: right;
    margin-bottom: 20px;
    width: 30px;
    transition: .5s;

    &:hover {
        transform: scale(1.2);
        opacity: .6;
    }
}