* {
  margin: 0;
  padding: 0;
}


.sticky {
  position: fixed;
  top: -68px;
  width: 100%;
  z-index: 1020;
}

body {
  background-color: white;
  padding-top: 200px;
}




header {
  width: 100%;
  position: fixed;
  background: #fff;
  top: 0;
  z-index: 1000;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  overflow: hidden;
  font-family: 'Conv_FiraGO-Regular';
  height: 126px;
  background: $main-color;

  .header_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 30px;
    background: white !important;

    .logo {

      svg {
        width: 100px;
        height: 58px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;

        .st0 {
          opacity: 1;
          fill: $main-color !important;
        }

        .st1 {
          fill: $main-color;
        }


      }

      svg:hover {
        opacity: 0.5;
      }
    }

    .search {
      width: calc(100% - 210px);
      padding: 0 10px;
      display: flex;
      justify-content: flex-end;

      form {
        display: flex;
        align-items: center;
        border: 1px solid $main-color;
        border-radius: 5px;

        input {
          border: unset;
          outline: none;
          box-shadow: unset;
          color: $main-color;
          margin: 7px;
          background: transparent;
          width:100%;

          &::placeholder {
            color: $main-color;
          }
        }

        button {
          background: transparent;
          outline: none;


          i {
            color: $main-color;
            transition: .3s;
            padding: 4px 6px;
            font-size: 20px;

            &:hover {
              color: $yellow;
            }
          }
        }

      }
    }

    .lang {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-radius: 3px;
      overflow: hidden;



      a {

        background-color: #f5c745;
        color: white;
        font-size: 12px;
        padding: 7px 15px;
        font-family: 'Conv_FiraGO-Regular';






        &.active {
          background-color: #f5c745;
          background-image: url('../images/cover-01.png');

        }
      }

      a:hover {
        opacity: 0.6 !important;
      }
    }
  }


  .header_navigation {
    background-color: #3e9578;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 55px;
    display: flex;
    height: 58px;
    z-index: 1000;
    max-width: 1200px;
    margin: 0 auto;



    .cart_item_quantity {
      span {
        background-color: #f5c745;
        line-height: 20px;
        font-size: 11px;
        border-radius: 50%;
        text-align: center;
        padding: 5px;
        overflow: hidden;
        width: 20px;
        height: 20px;
        padding: 0;
        top: -35px;
        left: 13px;
        position: absolute;
        color: $main-color;
        transition: .5s;
        padding-left: 2px;

      }


    }

    .cart_box {
      position: relative;

      .cart_item_quantity {
        position: absolute;
      }
    }

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 1000px;
      width: 100%;
      // margin-right: 40px;
      font-weight: bold;


      li {

        .active {
          color: $yellow;
        }
      }


    }

    li {
      padding: 7px 0;
    }

    a {
      font-size: 15px;
      color: white;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      letter-spacing: 1px;
      padding: 5px;
      font-family: 'Conv_FiraGO-Regular';


      &:hover {
        color: $yellow;
      }

      svg {
        fill: white;
        width: 30px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;

        &:hover {
          fill: $yellow;
        }
      }

      &:hover {
        svg {
          fill: $yellow;
        }


      }

    }



    img {
      width: 30px;
      opacity: .6;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
    }

    img:hover {
      opacity: 1;
    }
  }




  @media only screen and (max-width: 992px) {

    .header_navigation {
      ul {
        display: block;


      }


    }


  }
}



.hamburger {
  position: relative;
  width: 40px;
  height: 30px;
  min-width: 20px;
  padding: 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
  color: #4b1cfb;

  &::before,
  &::after,
  span {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }

  span {
    top: 40%;
  }

  &::after {
    top: 80%;
  }

}

.hamburger-effect-1 {
  &.active {
    span {
      -webkit-transform: translateX(-150px);
      -ms-transform: translateX(-150px);
      transform: translateX(-150px);
      opacity: 0;
    }

    &::after {
      top: 18px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    &::before {
      top: 18px;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

.hamburger-effect-2 {
  color: #920550;

  span {
    width: 50%;
    border-radius: 4px 0 0 4px;
    left: 0;
    right: auto;

    &:nth-child(2) {
      border-radius: 0 4px 4px 0;
      left: auto;
      right: 0;
    }
  }

  &.active {
    span {
      opacity: 0;

      &:nth-child(1) {
        left: -30px;
      }

      &:nth-child(2) {
        right: -30px;
      }
    }

    &::after {
      top: 10px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    &::before {
      top: 10px;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

.hamburger-effect-3 {
  color: #e23141;



  span {
    width: 50%;
    border-radius: 4px 0 0 4px;
    left: 0;
    right: auto;

    &:nth-child(2) {
      border-radius: 0 4px 4px 0;
      left: auto;
      right: 0;
    }
  }

  &.active {
    span {
      opacity: 0;

      &:nth-child(1) {
        left: -30px;
      }

      &:nth-child(2) {
        right: -30px;
      }
    }

    &::after {
      top: 18px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    &::before {
      top: 18px;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

.list {
  width: 200px;
  margin: 24px auto auto;
  text-align: center;
}



.btn-effect-1 {
  &:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.dropdown_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin-left: 8%;
}