.home_category_container {

	height: calc(100vh - 200px);
	margin-bottom: 20px;
	font-family: 'Conv_FiraGO-Regular';



	.row {
		height: inherit;

		.col-12 {
			height: 50%;

			.category_box {
				height: 100%;
				perspective: 200px;
				width: 219px;
				margin: 0 auto;
				overflow: hidden;



				.category_title {

					z-index: 100;
				}


				&:hover .category_title a {
					color: #f5c745;

				}

				.category_img {
					transition: all .4s;
					position: relative;
					height: 99%;
					width: 98%;


					.background_img {
						position: absolute;
						top: 8px;
						/* background: red; */
						left: -2px;
						width: 102%;
						height: 101%;
						z-index: 10;

						a {
							display: unset;
						}


					}





					a {
						height: inherit;
						display: flex;
						align-items: center;

						img {
							object-fit: cover;
							width: 100%;
							height: 92%;

						}
					}
				}
			}
		}
	}
}



.category_box {

	display: flex;
	flex-direction: column;
	align-items: center;


	.category_img {

		div {
			display: block;
			width: 100%;
			height: 100%;


		}
	}
}

.category_title {

	a {
		display: block;
		color: #3e9578;
		transition: all .4s;
		text-transform: capitalize;

	}
}

.home_category_container .col-12:nth-child(1) .category_img {
	transform: rotateY(180deg);
}

.home_category_container .col-12:nth-child(4) .category_img {
	transform: rotateY(180deg);
}



.home_category_container .col-12:nth-child(2) .category_img {
	&:hover {
		animation: rotateAnime 1s linear backwards;
	}
}

.home_category_container .col-12:nth-child(3) .category_img {
	&:hover {
		animation: rotateAnime 1s linear backwards;
	}
}

.home_category_container .col-12:nth-child(1) .category_img {
	&:hover {
		animation: rotateAnime2 1s linear backwards;
	}
}

.home_category_container .col-12:nth-child(4) .category_img {
	&:hover {
		animation: rotateAnime2 1s linear backwards;
	}
}


@keyframes rotateAnime2 {

	0% {

		transform: rotate(0) rotateY(180deg);
	}

	40% {
		transform: rotate(-2.5deg) rotateY(180deg);
	}


	70% {

		transform: rotate(2.5deg) rotateY(180deg);
	}

	100% {

		transform: rotate(0) rotateY(180deg);
	}
}


@keyframes rotateAnime {

	0% {

		transform: rotate(0);
	}

	40% {
		transform: rotate(-2.5deg);
	}


	70% {

		transform: rotate(2.5deg);
	}

	100% {

		transform: rotate(0);
	}
}


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: $yellow;
	border-radius: 10px;
}



body {
	padding-top: 126px !important;
}


.responsive_navigation {
	transition: .5s;
	background-color: #3e9578;
	font-family: 'Conv_FiraGO-Regular';
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	height: 100vh;
	overflow-y: scroll;
	padding-top: 10%;
	display: none;

	.close_navigation {
		font-size: 25px;
		color: white;
		position: fixed;
		top: 27px;
		right: 17px;
		padding: 8px;
	}

	ul {
		margin-right: unset;
		padding-bottom: 20px;
		margin-top: 30px;
		width: 100%;

		li {
			text-align: center;

			a {
				font-size: 15px;
				text-transform: uppercase;
				color: white;
				-webkit-transition: all .4s;
				-o-transition: all .4s;
				transition: all .4s;
				letter-spacing: 1px;
				padding: 5px;
				font-size: 13px;

				&.active {
					color: #f5c745;

				}
			}
		}

	}



}