.privacy_container {

    min-height: calc(100vh - 281px);
    max-width: 1200px;
    margin: 50px auto;
    font-family: 'Conv_FiraGO-Regular';
    padding: 0 50px;

    .privacy_title {
        margin: 10px;
        color: $main-color;
    }

    .privacy_text p {
        color: $main-color;
        padding: 10px;
        word-break: break-word;

    }


}