.product_container {
  max-width: 1200px;
  min-height: calc(100vh - 180px);
  font-family: 'Conv_FiraGO-Regular';
  margin-top: 50px;

  .breadcrumb {

    padding: unset;
    max-width: 1090px;
    margin: 0 auto;
    background: white;

    li+li:before {
      padding: 8px;
      color: $main-color;
      content: "/\00a0";
    }

    li {
      color: $yellow;
      text-transform: capitalize;
    }

    a {
      color: $main-color;
      transition: .3s;
      padding: 5px;

      &:hover {
        color: $yellow;
      }
    }


  }

  .row {
    padding-bottom: 50px;
  }

  .product_img {
    position: relative;
    text-align: right;
    max-height: 500px;


    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 5000;
      /* Sit on top */
      padding-top: 20px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.9);
      /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
      margin: auto;
      display: block;
      height: 96%;
      width: 50%;

    }

    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation */
    .modal-content,
    #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {
        -webkit-transform: scale(0)
      }

      to {
        -webkit-transform: scale(1)
      }
    }

    @keyframes zoom {
      from {
        transform: scale(0)
      }

      to {
        transform: scale(1)
      }
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: white;
      font-size: 57px;
      font-weight: bold;
      transition: 0.3s;
      opacity: 0.8;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
      .modal-content {
        width: 100%;
      }
    }


    img {
      width: 100%;
      margin-top: 50px;
      height: 100%;
      object-fit: contain;
      border-radius: 5px;
    }

    .product_icon {
      transition: 1s;
      position: absolute;
      right: 15px;
      top: 50px;



      #Layer_1:hover .st0 {
        fill: #FFBC00 !important;
        transition: 1s;
      }





      svg {
        margin: 10px;
        width: 40px;
        cursor: pointer;
        transition: .3s;

        .st0 {
          opacity: 1;
          /* fill: #FFFFFF; */
          fill: $main-color;
        }

        .st1 {
          fill: $main-color;
          transition: .3s;

        }

      }


      .active {
        .st0 {
          fill: #FFBC00;
          transition: 1s;
        }
      }

      svg:hover {
        transition: .7s;

        .st1 {
          fill: #FFBC00;
          transition: 1s;


        }
      }


    }
  }


  .product_section {
    margin-top: 50px;
    color: #3e9578;
    padding-left: 40px;


    .product_name {

      h2 {

        font-size: 23px;
        text-transform: uppercase;
        margin-bottom: 10px;

      }

    }

    .product_price {
      margin-top: 30px;

      .price {
        text-decoration: line-through;
        opacity: .5;
      }

    }

    .out_of_stock {
      margin-top: 15px;
      color: #CB2027;
      text-transform: capitalize;
    }

    .quantity {
      width: 40%;
      margin: 20px 0;
      display: flex;
      flex-direction: column;

      span {
        width: 100%;
        text-transform: capitalize;
      }

      input {
        border: 1px solid #3e9578;
        width: 32%;
        padding: 8px;
        margin: 10px 0;
        text-align: center;
        border-radius: 5px;
      }

      button {
        padding: 15px;
        word-spacing: 3px;
        color: white;
        outline: none;
        text-transform: uppercase;
        margin-top: 10px;
        background: $main-color;
        transition: .5s;
        border-radius: 5px;
      }

      button:hover {
        background: #f5c745;
        transform: scale(1.02);
        color: $main-color;


      }

      button:disabled {
        background: #7d7d7d;

        &:hover {
          background: #7d7d7d;
          transform: unset;
          color: white;

        }
      }

    }

    .product_info {

      cursor: pointer;

      .product_article {
        display: none;
      }


      .product_title {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #3e9578;
        padding: 15px 0;

        span {
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }


        svg {
          cursor: pointer;
          width: 25px;
          margin: 0 auto;
          height: 25px;
          fill: $main-color;
          border-radius: 50%;
          padding: background;
          padding: 5px;
          border: 1px solid $main-color;
          transition: .5s;


          .st0 {
            opacity: 0.5;
            fill: $main-color;
          }

          .st1 {
            fill: #3D9679;
          }

          .st1 {
            fill: $main-color;
          }

        }


        &:hover {

          opacity: .7;

          svg {
            fill: white;
            background: $main-color;
          }
        }

      }

      p {
        font-size: 14px;
        margin-bottom: 10px;
        color: $main-color;


      }

    }


  }

  .similar_items {

    h2 {

      font-size: 23px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $main-color;
      text-align: center;

    }

    .cup_box {
      margin: 20px auto;

      .img_box {

        width: 100%;
        height: 240px;
        position: relative;

        .cup_hover {

          position: absolute;
          top: 0;
          color: white;
          text-transform: uppercase;
          background-color: rgba(204, 204, 204, 0.5);
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: .3s;

          .see_more {
            background-color: #FFBC00;
            width: fit-content;
            margin: 40% auto;
            cursor: pointer;
            border-radius: 5px;
            padding: 5px 7px;
            text-transform: capitalize;

            a {
              color: white;

            }
          }

        }


        a {

          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }


        img {
          width: 100%;
          max-height: 76%;
          object-fit: contain;
        }


      }

      .img_box:hover {
        .cup_hover {
          opacity: 1;
          transition: .5s;

        }
      }


      .cup_info {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .cup_price {
          display: flex;

          .price {
            text-decoration: line-through;
            padding-left: 4px;
            opacity: .6;
          }



        }


        span {
          display: block;
          color: #3e9578;
          padding-right: 3px;
          display: flex;
          word-break: break-word;
        }

        button {
          color: white;
          background-color: #FFBC00;
          padding: 5px;
          outline: none;
          cursor: pointer;
          border-radius: 5px;
          min-width: 85px;
          transition: .4s;
        }

        button:hover {
          background-color: rgb(255, 218, 116);

        }
      }
    }
  }


}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}