.registration_container {

    margin: 70px auto;
    max-width: 630px;
    color: #3e9578;
    min-height: calc(100vh - 320px);
    font-family: 'Conv_FiraGO-Regular';


    .shipping_section {
        margin: 0 16px;
    }

    .my_account {
        margin: 0 auto;
    }

    .shipping_info {
        margin: 0 20px 30px;

        p {
            color: $main-color;

        }
    }



    .pay_container {

        margin: 35px 0;
        padding: 20px;
        border: 1px solid #3e9578;
        width: 90%;
        margin: 100px auto;

        .pay_title {

            span {
                color: #3e9578;
                font-size: 18px;
                letter-spacing: 2px;
            }
        }

        .payment {
            display: flex;
            align-items: center;
            margin: 15px 0;




            .cart_button {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* Hide the browser's default radio button */
            .cart_button input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom radio button */
            .checkmark {
                position: absolute;
                top: 7px;
                left: 0;
                height: 22px;
                width: 22px;
                background-color: #eee;
                border-radius: 50%;
            }

            /* On mouse-over, add a grey background color */
            .cart_button:hover input~.checkmark {
                background-color: #ccc;
            }

            /* When the radio button is checked, add a blue background */
            .cart_button input:checked~.checkmark {

                background-color: #3e9578;
                border: 1px solid #3e9578;
                padding: 2px;
                padding: 1px;
                background-clip: content-box;

            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            .cart_button input:checked~.checkmark:after {
                display: block;
            }

            /* Style the indicator (dot/circle) */


            input {
                width: 20px;
                height: 20px;
                margin-right: 30px;


            }

            img {
                width: 50px;
                margin-right: 15px
            }
        }


        .item_info {


            .total_item {
                color: #3e9578;
                letter-spacing: 2px;
                display: flex;
                justify-content: space-between;


                span {
                    padding: 5px 0;
                }
            }

            .total_price {
                color: #3e9578;
                letter-spacing: 2px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                border-top: 1px solid #3e9578;
                margin-top: 20px;
                padding-top: 15px;

            }
        }

        .checkout_button {
            text-align: center;
            margin-top: 40px;

            button {

                background-color: white;
                color: #3e9578;
                border: 1px solid #3e9578;
                letter-spacing: 1px;
                padding: 5px 10px;
                font-weight: bold;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
                transition: .5s;
                min-width: 90px;
                border-radius: 5px;

            }

            button:hover {
                background: $yellow;
                border: 1px solid transparent;
            }
        }

    }



    .payment {
        display: flex;
        align-items: center;
        margin: 15px 0;




        .cart_button {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default radio button */
        .cart_button input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom radio button */
        .checkmark {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: #eee;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .cart_button:hover input~.checkmark {
            background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .cart_button input:checked~.checkmark {

            background-color: #3e9578;
            border: 1px solid #3e9578;
            padding: 2px;
            padding: 1px;
            background-clip: content-box;

        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .cart_button input:checked~.checkmark:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */


        input {
            width: 20px;
            height: 20px;
            margin-right: 30px;


        }

        img {
            width: 50px;
            margin-right: 15px;
            margin-top: -3px;
        }
    }


    h1 {
        text-align: center;
        color: #3e9578;
        font-size: 23px;
        margin-bottom: 40px;
        text-transform: uppercase;

    }

    .registration_name {
        display: flex;
        justify-content: space-between;

        span {
            margin-left: 10px;
            color: #3e9578;
        }

        input {
            width: 300px;
            border: 1px solid #3e9578;
            margin: 2px 0 15px;
            padding: 8px;
            color: $main-color;
            border-radius: 5px;

        }

        select {
            width: 300px;
            color: $main-color;
            border: 1px solid $main-color;
            border-radius: 5px
        }



    }

    .registration_mail {
        display: flex;
        flex-direction: column;

        span {
            margin-left: 10px;
            color: #3e9578
        }

        input {
            width: 100%;
            border: 1px solid #3e9578;
            margin: 2px 0 15px;
            padding: 8px;
            color: mainc-color;
            border-radius: 5px;

        }
    }



    .registration_button {
        width: 100%;
        text-align: center;

        a {
            color: $main-color;
        }

        button {

            width: 60%;
            padding: 6px;
            background-color: #3e9578;
            color: white;
            outline: none;
            margin-top: 30px;
            transition: 1s;
            border-radius: 5px;
        }

        button:hover {
            color: $main-color;
            background: $yellow;

        }
    }


    .gender,
    .shipping {
        display: flex;
        align-items: center;


        .payment {
            display: flex;
            align-items: center;
            padding-right: 15px;

            span {
                color: #3e9578;
                font-size: 16px;
                margin-left: 5px;
            }



            .cart_button {
                display: block;
                position: relative;
                padding-left: 25px;
                margin-bottom: 12px;
                cursor: pointer;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                margin-left: 20px;
            }

            /* Hide the browser's default radio button */
            .cart_button input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom radio button */
            .checkmark {
                position: absolute;
                top: 2px;
                left: 0;
                height: 22px;
                width: 22px;
                background-color: #d1d1cf;
                border-radius: 50%;
            }

            /* On mouse-over, add a grey background color */
            .cart_button:hover input~.checkmark {
                background-color: #ccc;
            }

            /* When the radio button is checked, add a blue background */
            .cart_button input:checked~.checkmark {

                background-color: #3e9578;
                border: 1px solid #3e9578;
                padding: 2px;
                padding: 1px;
                background-clip: content-box;

            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            .cart_button input:checked~.checkmark:after {
                display: block;
            }

            /* Style the indicator (dot/circle) */


            input {
                width: 20px;
                height: 20px;
                margin-right: 30px;


            }


        }
    }




}

.registration_container .payment .cart_button {
    margin-left: 25px !important;
}

.registration_container .pay_container {
    border-radius: 5px;
    margin: 60px auto;
}