.workshops_container {

    padding-top: 50px;

    .workshops_img {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .workshops_content {
        padding: 0 20px;
        color: #3e9578;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;


        h2 {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            margin-top: 40px;
            text-transform: uppercase;
        }

        .workshops_date {
            text-align: center;
            margin: 5px 0 40px;
        }


        p {
            margin-top: 15px;
            text-align: justify;
            color: $main-color;
        }

        form {



            .form_content {

                display: flex;
                padding: 10px 0;
                align-items: center;


                .form_name {
                    min-width: 100px
                }



            }

            input {
                width: calc(100% - 135px);
                padding: 7px;
            }

            input,
            textarea {
                border: 1px solid #3e9578;
            }

            .form_content_2 {
                margin-top: 10px;

                .form_textarea {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: 15px;

                    textarea {
                        border: 1px solid #3e9578;
                        resize: none;
                        width: calc(100% - 35px);
                        height: 100px;
                    }

                    button {
                        width: 25px;
                        height: 25px;
                        outline: none;
                        background: white;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                    }

                }
            }



        }

    }



}

.past_workshops {
    padding-top: 50px;

    .past_workshops_title {
        text-align: center;
        color: #ffbc00;
        font-size: 23px;
        margin: 40px 0 60px;
        text-transform: uppercase;
    }

    .row {
        margin-bottom: 80px;


        .past_workshops_img {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;

            }
        }

        .past_workshops_content {
            h3 {
                color: #3e9578;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }

            .workshops_date {
                text-align: center;
                color: #3e9578;
                padding: 5px;

            }

            p {
                color: #3e9578;
                padding: 20px;
                text-align: justify;
                color: #3e9578;
            }


            .right_arrow {
                text-align: center;
            }

        }



    }





}