@font-face {
    font-family: 'Conv_FiraGO-Bold';
    src: url('../fonts/FiraGO-Bold.eot');
    src: local('☺'), url('../fonts/FiraGO-Bold.woff') format('woff'), url('../fonts/FiraGO-Bold.ttf') format('truetype'), url('../fonts/FiraGO-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.workshops_container {

        
    font-family: 'Conv_FiraGO-Regular';
    min-height: calc(100vh - 180px);

    .workshops_img {
       width: 100%;
    max-height: 500px;
    height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .row{
    padding:50px 0;
    }


    .workshops_content {
        padding: 0 20px;
        color: #3e9578;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;


        h2 {
            text-align: center;
            color: #3e9578;
            font-size: 23px;
            margin-top: 15px;
            text-transform: uppercase;
        }

        .workshops_date {
            text-align: center;
            margin: 5px 0 40px;
        }


        p {
            margin-top: 15px;
            text-align: justify;
            color: $main-color;
            word-wrap: break-word;
            padding-right: 35px;
        }

        form {



            .form_content {

                display: flex;
                padding: 10px 0;
                align-items: center;


                .form_name {
                    min-width: 100px
                }



            }

            input {
                width: calc(100% - 135px);
                padding: 7px;
            }

            input,
            textarea {
                border: 1px solid #3e9578;
            }

            .form_content_2 {
                margin-top: 10px;

                .form_textarea {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: 15px;

                    textarea {
                        border: 1px solid #3e9578;
                        resize: none;
                        width: calc(100% - 35px);
                        height: 100px;
                        padding: 7px;
                    }

                    button {
                        width: 25px;
                        height: 25px;
                        outline: none;
                        background: white;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                    }

                }
            }



        }

    }



}

.past_workshops {
    padding-top: 20px;
    font-family: 'Conv_FiraGO-Regular';

    .past_workshops_title {
        text-align: center;
        color: #ffbc00;
        font-size: 23px;
        margin: 60px 0;
        text-transform: uppercase;

        h2 {
            font-size: 30px;
        }
    }

    .row {
        margin-bottom: 100px;
        transition:.5s;

       

        .past_workshops_img {
            width: 100%;
            height:320px;

            img {
              width: 100%;
              height: 100%;

            }
        }

        .past_workshops_content {
            h3 {
                color: #3e9578;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                margin: 15px;
            }

            .workshops_date {
                text-align: center;
                color: #3e9578;
                padding: 5px;

            }

            p {
                color: #3e9578;
                text-align: justify;
                color: #3e9578;
                word-wrap: break-word;

            }


            .right_arrow {
                text-align: center;
                width: 32px;
                margin: 15px auto;
                transition: .5s;
            }

            .right_arrow:hover {
                background: $yellow;
                border-radius: 100%;
                 transform: scale(1.05);

            }

        }



    }



}